# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Skelton/.vs
/Skelton/*.vcxproj
/Skelton/*.filters
/Skelton/*.user
/Skelton/x64
/Skelton/*.txt
/Skelton/*.cpp
/Skelton/*.h
